.container{
    display: grid;
    height: 400px;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(3,auto);
    background-color: var(--black);
}
:root{
    --gold: rgb(156, 141, 101);
    --black: rgb(0, 0, 0);
    --red: red;
}

header{
    height: 550px;
    grid-template-rows: (1,auto);
    background-image: url(./9edf816d-5625-45d2-9ef6-8b2ae65bb7eaCover_Elder-Ring.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
}
header h1{
    color: var(--gold);
    font-size: 80px;
    position: relative;
    left: 370px;
    top: 300px;

}
main{
    height: 700px;
    grid-template-rows: auto;
    


}
main img{
    position: relative;
    left: 120px;
}
main p{
    color: var(--red);
    font-size: 20px;
}
main h1{
    font-size: 50px;
    color: var(--red);

}

footer{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: repeat(1,auto);
    gap: 2px;
    position: relative;
    top: 250px;
}
.container footer .left-footer{
    height: 470px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;   
}
.container footer .center-footer{
    height: 470px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;   
}
.container footer .right-footer{
    height: 470px;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;   
}
section img{
    position: relative;
    left: 20px;
    top: 10pxs;
}
section h1{
    color: var(--red);
    font-size: 25px;
    position: relative;
    left: 20px;
}
section p{
    color: var(--gold);
    font-size: 15px;
    position: relative;
    left: 5px;
}